[MAIN]

[SIMILARITIES]
min-similarity-lines=6
ignore-imports=yes

[TYPECHECK]
ignored-modules=astropy.constants

[MASTER]
init-hook='import sys; sys.path.append("/Users/richardanslow/Documents/Coding/Python/VolPy/")'