[MAIN]

[SIMILARITIES]
min-similarity-lines=6
ignore-imports=yes

[TYPECHECK]
ignored-modules=astropy.constants
ignored-classes=Planet

[MASTER]
extension-pkg-whitelist=numpy,nose,nose.tools

[DESIGN]
# Maximum number of locals for function / method body
max-locals=50
max-statements=100

[MESSAGES CONTROL]
disable=anomalous-backslash-in-string